/* General Styles */
body {
    background-color: #1B1B31;
    color: aliceblue;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* FreeCodeCamp Logo */
.freecodecamp-logo {
    display: block;
    margin: 0 auto 20px;
}

/* Search Input */
#search-input {
    width: 300px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    margin-right: 10px;
    font-size: 1rem;
    outline: none;
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Search Button */
#search-button {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #f39c12;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#search-button:hover {
    background-color: #e67e22;
}

/* Pokémon Result Styles */
#result {
    display: none;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

#result div {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ddd;
}

#types {
    list-style-type: none;
    padding: 0;
}

#types li {
    display: inline-block;
    padding: 8px 15px;
    background-color: #3498db;
    border-radius: 15px;
    margin: 5px;
    color: white;
    font-weight: bold;
}

/* Pokémon Image */
#sprite {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    display: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.05);
    border: 3px solid #f39c12;
}

/* Responsiveness */
@media (max-width: 768px) {
    #search-input {
        width: 80%;
        font-size: 0.9rem;
    }
    
    #search-button {
        font-size: 0.9rem;
    }

    #result {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 2.5rem;
    }
}